.contentArea {
  background-color: rgb(237, 238, 240);
  display: grid;
}

div .banner {
  background-color: white;
  margin-top: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  padding-right: 16px;
  padding-left: 16px;
}

.banner{
  width: 96%;
}

.userInfo {
  grid-area: user-info;
}

.posts {
  grid-area: posts;
}