.contentArea {
  background-color: azure;
}

div .banner {
  background-color: white;
  margin-top: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  padding-right: 16px;
  padding-left: 16px;
}



.banner{
  width: 96%;
}