.posts {
    grid-row-start: 2;
    margin: 8px;
}

div .newPost {
    background-color: white;
    padding: 16px;
    margin-bottom: 8px;
    border-radius: 8px;
}

.allPosts .header{
    background-color: white;
    padding: 16px;
    margin-block: 8px;
    border-radius: 8px;
}

textarea {
    margin: 0px 8px 8px 0px;
    width: 600px;
    height: 80px;
    padding-left: 4px;
}