.item {
    display: grid;
    grid-template-columns: 60px 540px;
    color: black;
    background-color: white;
    margin-block: 8px;
    grid-gap: 8px;
    border-radius: 8px;
    padding: 16px;
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.message {
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.functions {
    grid-column: 2/3;
    margin: 0 0 0 auto;
}