.appWrapper {
  display: grid;
  margin: 0 auto;
  width: 1200px;
  grid-template-areas: "header header" "nav content";
  grid-template-rows: 8vh 1fr;
  grid-template-columns:2fr 10fr;
  /* background-color: azure; */
  background-color: rgb(237, 238, 240);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
}

.appWrapperContent {
  grid-area: content;
}