.appWrapper {
  display: grid;
  margin: 0 auto;
  width: 1200px;
  grid-template-areas: "header header" "nav content";
  grid-template-rows: 8vh 1fr;
  grid-template-columns:2fr 10fr;
  grid-gap: 10px;
  background-color: azure;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100vh;
}

.appWrapperContent {
  grid-area: content;
}